<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">

            <form id="forgot-password-form" class="form" #forgotPasswordForm="ngForm"
                (ngSubmit)="authenticationService.ForgotPassword(forgotPasswordForm)">

                <div class="form-group">
                    <label for="userName">Email</label>
                    <div class="input-group">
                       <div class="input-group-append">
                          <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                       </div>
                       <input email type="email" name="email" class="form-control" placeholder="abc@xyz.com"
                          [(ngModel)]='email' #txtEmail='ngModel' required>
                    </div>
                 </div>
                 <div *ngIf="txtEmail.touched && txtEmail.errors?.required" class="alert alert-danger">
                    email is required
                 </div>

                <br>
                <button type="submit" class="btn btn-dark">Continue</button>&nbsp;&nbsp;
                <button class="btn btn-danger" (click)="navigateToLogin()">Cancel</button>
            </form>

        </div>
    </div>
</div>